.superlogin{
  background-color: rgb(237 197 91);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;  
  background-color: rgb(232 204 173); 
}

.welcome-section {
  text-align: center;
}
.welcome-section h1 {
  font-size: 50px;
  color: rgb(0, 87, 78); 
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  margin-bottom: 10px;
  font-weight: 1000;
  text-align: center;
}
.welcome-section p {
  margin-bottom: 20px;
  font-size: 16px;
}

.login-section {
  background-color: rgb(102 188 180); 
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 300px;
}

.login-section p {
  text-align: center;
  margin-bottom: 20px;
  font-size: 14px;  
  margin-top: 20px;

}

.form-group {
  margin-bottom: 15px;
}

.form-control {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.buttonsm {
  width: 100%;
  padding: 10px;
  background-color: rgb(236 128 43); 
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.buttonsm:hover {
  background-color: rgb(146, 61, 0);
  
}
.buttonsu {
  width: 100%;
  padding: 10px;
  background-color: rgb(236 128 43);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 5px;
}

.buttonsu:hover {
  background-color: rgb(146, 61, 0);
}
