.supertask{
 
  width: 100vw;
  min-height: 100vh;
  background-color: rgb(185, 226, 222);
  display: flex;
  justify-content: center;
  align-items: center;
 
}
.containertask {
  
  width: 80%;
  min-height: 90vh;
  margin: auto;
  padding-top: 20px;
  background-color: rgb(185, 226, 222);
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  font-weight: 1000;
  font-size: 50px;
  color: rgb(0, 87, 78);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.edit-nav {
  background-color:  rgb(237 197 91);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.edit-nav div {
  margin-bottom: 15px;
}


input,
textarea {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.cancel-btn {
  background-color: #f8f9fa;
  color: #007bff;
  margin-top: 10px;
}

.cancel-btn:hover {
  background-color: #e2e6ea;
}

.task-list {
  list-style-type: none;
  padding: 0;
}

.task-item {
  background-color:rgb(102 188 180);
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.task-actions button {
  background-color: rgb(104, 54, 6);
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  
}

.task-actions .delete-btntask {
  background-color: rgb(236 128 43);
  margin-top: 10px;
}

.task-actions .edit-btn {
  background-color: rgb(236 128 43);
}

.task-actions button:hover {
  opacity: 0.8;
  
}

.task-actions .delete-btntask:hover {
  background-color: #c82333;
}

.task-actions .edit-btn:hover {
  background-color: rgb(0, 0, 0);
}

.back {
  position: fixed;  
  top: 20px;        
  left: 30px;       
  font-size: 40px; 
  color: #ffffff;
  cursor: pointer;
}
.back:hover {
  font-size: 45px;
  color: #000000;
  transition: 0.2s;
}